* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://pixabay.com/get/g2d4d72eaf0a2d09a1995a08dbfdf0a7ca4cc764b57aaba65d510c49c313c8c61aac85b0baa40efa68fc1e0be6102200877c1c8810803d50cf1c48f26fe6ceefefaae413359bc18aaf7fa3ed3a34ed6b8_1920.jpg");
}
