* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: url("https://i.ytimg.com/vi/UEexTkCYKSE/maxresdefault.jpg"); */
  background-image: url("../assets/forest.jpg");
}

.container {
  background-color: #fff;
}

.hide {
  display: none !important;
}
